corus
deprecated
Flask==2.1.0
browser-cookie3
slovnet==0.5.0
pyenchant==3.2.0
pymorphy2==0.9.1
nerus
treelib==1.6.1
numpy
pandas
scikit-learn
statsmodels
yo_fluq_ds
fastparquet
pyarrow
boto3
sagemaker
python-dotenv
coverage
simplejson
torch
catboost
psycopg2-binary
presto-python-client
sqlalchemy
flask_healthcheck
elastic-apm
navec
slovnet
fastapi
uvicorn
gunicorn
nltk
homoglyphs
